<div style="text-align: center; font-size: 44px;">{{ page.title }}</div>

{% section 'my-page-text' %}

<hr>

<div style="margin: 10px 40px;">
    {{ page.content }}
</div>

<div style="padding: 10px 40px;">
    Handle = {{ page.handle }} <br>
    URL = {{ page.url }}
</div>